<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM  "http://testng.org/testng-1.0.dtd">
<suite name="Demo" parallel="tests">
    <test name="Selenium TestNG - 1">
        <parameter name="browser" value="firefox"/>
        <parameter name="port" value="9595"/>
        <classes>
            <class name="testng.page.EmailAccountPageTest"/>
        </classes>
    </test>
    <test name="Selenium TestNG - 2">
        <parameter name="browser" value="chrome"/>
        <parameter name="port" value="8585"/>
        <classes>
            <class name="testng.page.EmailAccountPageTest"/>
        </classes>
    </test>
</suite>